services:
  mysql1:
    image: mysql:8.0
    container_name: mysql1
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tablevoitures
      MYSQL_USER: bob
      MYSQL_PASSWORD: bob
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    depends_on:
      - mysql1
    environment:
      PMA_HOST: mysql1
    ports:
      - "81:80"

volumes:
  mysql_data:
